.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 13rem;

  p {
    width: 6.5rem;
  }

  .icon {
    width: 100%;
    min-width: 7rem;
    overflow: visible;
  }
}
