@import "../../styles/variables/colors";
@import "../../styles/variables/typography";
@import "../../styles/variables/mixins";

.hero {
  background-image: url("/images/culture/culture-cover.jpg"),
    url("/images/culture/blur-img/culture-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $neutral-800;
  height: calc(100vh - 8rem);
  min-height: 40rem;
}

.listwrap {
  background-image: url("/svg/background-pattern.svg");
  background-size: cover;
  padding-bottom: 8rem;

  .list {
    width: 85%;
    max-width: 120rem;
    margin: 0 auto;
  }

  .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    margin: 15% 0;

    @media screen and (min-width: 764px) {
      flex-direction: row;
      flex-wrap: nowrap;

      &:nth-child(even) {
        .image {
          order: 2;
        }
      }

      .image {
        width: 53%;
        margin-bottom: 0;
      }

      .text {
        width: 47%;
      }
    }

    .image {
      margin-bottom: 2rem;
    }

    .text {
      padding: 0 5%;

      .title {
        font-family: $text-heading-serif;
        margin-bottom: 2rem;
      }

      .paragraph {
        margin-bottom: 2rem;
      }
    }
  }

  .bottomlinks {
    width: 85%;
    max-width: 35rem;
    margin: 0 auto;

    h3 {
      margin-bottom: 3rem;
      font-family: $text-heading-serif;
    }

    .pagelinks {
      display: flex;
      justify-content: space-between;
    }
  }
}
