@import "../globals.scss";

.logo {
  margin-top: 5rem;
  margin-left: 8rem;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: #fff;
  margin-left: 50rem;
  button {
    margin-left: 8rem;
    height: 8rem;
    font-weight: 700;
    font-size: 3.906rem;
    line-height: 5.6rem;
  }
}
