//colors
$animated-gradient: linear-gradient(-45deg, #eda056, #b503a6, #4bc0c8);
$web-background-color: #9660db;
$white: rgba(255, 255, 255, 0.9);
$dark-blue: #22054f;
$hot-pink: #fb0ae8;
$dark-purple: #672ab7;
$orange: #eda056;
$bright-blue: #4bc0c8;
