//colors
$white: rgba(255, 255, 255, 0.9);
$dark-blue: #22054f;
$hot-pink: #fb0ae8;
$dark-purple: #672ab7;
$orange: #eda056;
$bright-blue: #4bc0c8;

//shadow
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$info-result-box-buttons: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);

//logout
$logout-icon: url("img/logout.svg");
$logout-hover: url("img/logout-hover.svg");

//border-radius
$border-radius-button: 100px;
$border-radius-box: 16px;
